body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("../1.jpg");
    width: 100%;
    height: 100%;

}


.form {
    color: #a0a0a0;
    background:rgba(92, 92, 92, 0.6);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    
}


.footer{
    background-color: #f5f5f5;
}
.padding {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}


.navbar-nav {
    margin-left: auto;
}

.navbar-nav {
    margin-left: auto;
}