body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("../1.jpg");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.form {
    color: #a0a0a0;
    background:rgba(92, 92, 92, 0.6);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: auto;
    
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem; 
}
.padding {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}


.navbar-nav {
    margin-left: auto;
}
