.background {
    height: 100vh;
}
h1 {
    padding-left: 30px;
}

.form {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 50px;
}

#background {
    background-color: rgb(132, 138, 132);
    height: 100vh;   
}

.footer{
    background-color: #f5f5f5;
}
.padding {
    margin-bottom: 50px;
}
