body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("/assets/1.jpg");
    width: 100%;
    height: 100%;

}


h1 {
    padding-left: 20px;
    color: rgb(216, 216, 216);
}

.about {
    color: #a0a0a0;
    background:rgba(92, 92, 92, 0.7);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;  
}

img {
    height: 250px;
    width: auto;
    padding-right: 20px;
}



.container {
    width: auto;
    max-width: 680px;
    
}
  


.padding {
    padding-bottom: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.links1 {
    background:rgba(180, 180, 180, 0.4);
    color: rgb(216, 216, 216);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: #f5f5f5;
    z-index: 1;
}

li {
    color: #1f1e1e;
}

ul a {
    color: #c9c9c9;
    }

.links2 {
    background:rgba(180, 180, 180, 0.4);
    margin-left: auto;
    margin-right: auto;
    color: #f5f5f5;
}

.container ul {
    display: inline-block
}

.navbar-nav {
    margin-left: auto;
}