nav { 
    margin-bottom: 0;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("/assets/1.jpg");
    width: 100%;
    height: 100%;

}


h1 {
    padding-left: 30px;
}

.portfolio {

    color: #a0a0a0;
    background:rgba(92, 92, 92, 0.6);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}

body {
    max-height: 100%;
}

.footer{
    background-color: #f5f5f5;
}

img {
    margin: 10px;
}

.grey {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar-nav {
    margin-left: auto;
}

 a {
    color: #c9c9c9;
    }